.todo__prototype {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 5px 10px !important;

  span {
    font-weight: 500;
    font-size: 16px;
    user-select: none;
    margin-right: 10px;
    line-break: anywhere;
  }
}
.todo__prototype_buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  button {
    margin: 3px !important;
    padding: .25rem .6rem !important;
    cursor: initial;

    &:focus {
      box-shadow: none;
    }

    i {
      font-size: 16px;
      margin-top: 2px;
      max-width: 14px;
    }
  }
}
