.todo__list_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 5px 10px !important;

  &.hide {
    opacity: 0.1 !important;
  }

  &.hide span {
    user-select: none;
  }

  span {
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    line-break: anywhere;
  }
}
.todo__list_item_actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  button {
    margin: 3px !important;
    padding: .25rem .5rem !important;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    i {
      font-size: 15px;
      max-width: 14px;
    }
  }
}

.todo__list_item.hide .todo__list_item_actions {
  button {
    cursor: unset;
    user-select: none;
  }
}
