html, body {
  font-size: 16px;
}
.App {
  min-height: 100vh;
  transition: all .3s ease-in-out;
}
.App.light {
  background-color: white;
  color: black;
}
.App.dark {
  background-color: #1E1E1E;
  color: white;
}
.themeChange {
  position: absolute;
  top: 0.5%;
  right: 0.5%;
  background-color: transparent;
  color: white;
  font-size: 20px;
  outline: none !important;
  border: none;
  transition: color .3s ease-in-out;
}
.App.light .themeChange {
  color: black;
}
.App.dark .themeChange {
  color: yellow;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
  transition: width .4s ease-in-out;
}
*, *::after, *::before {
  box-sizing: border-box;
}
p, span, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

@media only screen and (max-width: 515px) {
  .wrapper {
    width: 97%;
  }
}
